$borderRadius0: 2px;
$borderRadius1: 3px;
$fontSize0: 9px;
$fontSize1: 10px;
$fontSize2: 11px;
$fontSize3: 12px;

.importing-request__container__block__body__request--pending {
  .importing-request__container__block__body__request--pending__summary {
    width: 100%;
    min-height: 80px;
    background: white;
    border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 10px;

    .importing-request__container__block__body__request--pending__summary__avatar {
      margin-top: 2px;
    }

    .importing-request__container__block__body__request--pending__summary__details {
      text-align: left;
      display: flex;
      flex-direction: column;

      .importing-request__container__block__body__request--pending__summary__details__title {
        font-size: $fontSize3;
      }

      .importing-request__container__block__body__request--pending__summary__details__time {
        font-size: $fontSize0;
        color: rgba($color: #000000, $alpha: 0.4);
      }

      .importing-request__container__block__body__request--pending__summary__details__products {
        font-size: $fontSize1;
        padding-top: 5px;
        margin: 0;
      }
    }
  }
}
