$borderRadius0: 0.125rem;
$borderRadius1: 0.1875rem;
$fontSize0: 0.5625rem;
$fontSize1: 0.625rem;
$fontSize2: 0.6875rem;
$fontSize3: 0.75rem;

.statistic-pending-request-dialog {
  .statistic-pending-request-dialog__btn-open-wrapper {
    padding-top: 0.3125rem;
    height: 3.4375rem;
    display: flex;
    justify-content: center;
    .statistic-pending-request-dialog__btn-open-wrapper__btn {
      background: #fff6e6;
      // font-weight: bold;
      border: 0;
      box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
      min-height: 2.1875rem;
      min-width: 99%;
      font-size: $fontSize3;

      &:disabled {
        background: #eee;
        color: silver;
        box-shadow: none;
        text-shadow: none;
        border-color: #eee;
      }
    }
  }
}

.statistic-pending-request-dialog__content {
  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 0;
    }
  }

  .ant-modal-content {
    width: 46.875rem;
    left: -6.25rem;
  }

  .ant-modal-body {
    padding-bottom: 0;
  }

  .statistic-pending-request-dialog__content__products {
    $tableFontSize: $fontSize2;
    .ant-table {
      thead > tr > th {
        font-size: $tableFontSize;
        color: #ff8220;
        font-weight: bold;
        padding: 0.625rem 0;

        &:nth-of-type(1) {
          padding-left: 0.625rem;
        }
      }

      tbody > tr {
        transition: 0.2s;
        td {
          font-size: $tableFontSize;
          padding: 0;
        }

        &:hover td {
          background: none;
        }
      }
    }

    .ant-table-body {
      @extend .styled-scrollbar;
    }

    .ant-table .ant-table-container::before,
    .ant-table .ant-table-container::after {
      width: 0;
    }

    .ant-input-number {
      width: 4.375rem;
      margin-left: 0.9375rem;
      .ant-input-number-input {
        font-size: $tableFontSize;
        height: 1.5625rem;
        text-align: center;
      }
    }
  }

  .statistic-pending-request-dialog__content__price-total {
    width: 100%;
    padding: 0.9375rem 0.625rem 0.3125rem 0.9375rem;
  }

  .statistic-pending-request-dialog__content__labels,
  .statistic-pending-request-dialog__content__values {
    padding-left: 0;
    list-style: none;
    font-size: $fontSize3;
    line-height: 2.1875rem;
  }

  .statistic-pending-request-dialog__content__executor {
    margin-top: 1.25rem;
    .statistic-pending-request-dialog__content__executor__title {
      display: flex;
      align-items: center;
      font-size: 1rem;
      padding-top: 0.625rem;
      color: #ff8220;
      font-weight: bold;
    }
    .statistic-pending-request-dialog__content__executor__btn-submit {
      background: #ff8220;
      border: 0;
      font-size: $fontSize3;
      font-weight: bold;
      box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
      min-width: 9.375rem;
    }

    .ant-divider-horizontal {
      margin-top: 0.75rem;
      margin-bottom: 1.5rem;
    }

    .ant-form-item .ant-mentions,
    .ant-form-item textarea.ant-input {
      margin-top: -0.625rem;
      height: 5rem;
      font-size: $fontSize2;
    }
  }
}
