$borderRadius0: 2px;
$borderRadius1: 3px;
$fontSize0: 9px;
$fontSize1: 10px;
$fontSize2: 11px;
$fontSize3: 12px;

.statistic-pending-request-dialog {
  .statistic-pending-request-dialog__btn-open-wrapper {
    padding-top: 5px;
    height: 55px;
    display: flex;
    justify-content: center;
    .statistic-pending-request-dialog__btn-open-wrapper__btn {
      background: #ff8220;
      color: white;
      font-weight: bold;
      border: 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      min-height: 35px;
      min-width: 99%;
      font-size: $fontSize3;

      &:disabled {
        background: #eee;
        color: silver;
        box-shadow: none;
        text-shadow: none;
        border-color: #eee;
      }
    }
  }
}

.statistic-pending-request-dialog__content {
  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 0;
    }
  }

  .ant-modal-content {
    width: 50vw;
    left: -25%;
  }

  .ant-modal-body {
    padding-bottom: 0;
  }

  .statistic-pending-request-dialog__content__products {
    $tableFontSize: $fontSize2;
    .ant-table {
      thead > tr > th {
        font-size: $tableFontSize;
        color: #ff8220;
        font-weight: bold;
        padding: 10px 0;

        &:nth-of-type(1) {
          padding-left: 10px;
        }
      }

      tbody > tr {
        transition: 0.2s;
        td {
          font-size: $tableFontSize;
          padding: 0;
        }

        &:hover td {
          background: none;
        }
      }
    }

    .ant-table-body {
      @extend .styled-scrollbar;
    }

    .ant-table .ant-table-container::before,
    .ant-table .ant-table-container::after {
      width: 0;
    }

    .ant-input-number {
      width: 70px;
      margin-left: 15px;
      .ant-input-number-input {
        font-size: $tableFontSize;
        height: 25px;
        text-align: center;
      }
    }
  }

  .statistic-pending-request-dialog__content__price-total {
    width: 100%;
    padding: 15px 10px 5px 15px;
  }

  .statistic-pending-request-dialog__content__labels,
  .statistic-pending-request-dialog__content__values {
    padding-left: 0;
    list-style: none;
    font-size: $fontSize3;
    line-height: 35px;
  }

  .statistic-pending-request-dialog__content__executor {
    margin-top: 20px;
    .statistic-pending-request-dialog__content__executor__title {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding-top: 10px;
      color: #ff8220;
      font-weight: bold;
    }
    .statistic-pending-request-dialog__content__executor__btn-submit {
      background: #ff8220;
      border: 0;
      font-size: $fontSize3;
      font-weight: bold;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      min-width: 150px;
    }

    .ant-divider-horizontal {
      margin-top: 12px;
      margin-bottom: 24px;
    }

    .ant-form-item .ant-mentions,
    .ant-form-item textarea.ant-input {
      margin-top: -10px;
      height: 80px;
      font-size: $fontSize2;
    }
  }
}
