.new-product-list__content {
  width: 43.75rem;
  .ant-popover-inner-content {
    padding: 0;
  }

  $tableFontSize: 0.625rem;
  .ant-table {
    thead > tr > th {
      font-size: $tableFontSize;
      color: rgba($color: #000000, $alpha: 0.6);
      font-weight: bold;
      padding: 0.625rem;
    }

    tbody > tr {
      td {
        font-size: $tableFontSize;
        padding: 0.625rem;
      }
    }
  }

  .ant-table .ant-table-container::before,
  .ant-table .ant-table-container::after {
    width: 0;
  }
}
