.supplier-contact-popover__content {
  padding: 0.625rem;
  padding-top: 1.25rem;
  font-size: 0.625rem;
  width: 18.75rem;
}

.supplier-contact-popover__popover {
  .ant-popover-inner-content {
    padding: 0;
  }
  .ant-row {
    padding-bottom: 0.625rem;
  }
}
