.reporting__revenue-statistic {
  $textShadow1: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  $boxShadow0: 0 0 0.3125rem rgba(0, 0, 0, 0.15);
  $boxShadow1: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  $boxShadow2: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16), 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.23);
  $borderRadius0: 0.1875rem;
  $borderRadius1: 0.3125rem;
  $borderRadius2: 0.4375rem;
  $fontSize0: 0.6875rem;
  $fontSize1: 0.75rem;
  $fontSize2: 1rem;
  $fontSize3: 1.25rem;

  padding: 1.25rem !important;
  padding-top: 1.875rem !important;
  margin: 0.3125rem !important;
  border-radius: 0.625rem;

  .reporting__revenue-statistic__widget {
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    box-sizing: border-box;
    box-shadow: $boxShadow1;
    border-radius: 0.3125rem;
    color: white;
    font-weight: bold;
    text-shadow: $textShadow1;
    position: relative;

    .reporting__revenue-statistic__widget__btn {
      position: absolute;
      top: 1.25rem;
      right: 0.9375rem;
      border: 0;
      color: white;
      background: none;
      box-shadow: none;
    }

    &.--revenue-total {
      // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
      background: #ff8220;
      .anticon {
        color: yellow;
      }
    }

    &.--payment-total {
      background: #ff6f61;
      // background-color: #bd4f6c;
      // background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);

      .anticon {
        color: white;
      }
    }

    &.--profit-total {
      background: #039be5;
      // background-color: #20bf55;
      // background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

      .anticon {
        color: white;
      }
    }

    .reporting__revenue-statistic__widget__content {
      flex-direction: column;
      line-height: 1.875rem;
      padding-top: 0.3125rem;

      .reporting__revenue-statistic__widget__content__value {
        font-size: 1.125rem;
        letter-spacing: 0.0313rem;
        .anticon {
          margin-right: 0.9375rem;
        }
      }

      .reporting__revenue-statistic__widget__content__label {
        color: white;
        font-size: 0.75rem;
      }
    }
  }

  .reporting__revenue-statistic__chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.875rem;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 1.875rem;
      font-size: 0.9375rem;
      font-weight: bold;
      color: #ff8220;
    }
  }
}

.reporting__revenue-statistic__widget__popover {
  width: 25rem;
  .ant-popover-inner-content {
    padding: 0;
  }

  $tableFontSize: 0.6875rem;
  .ant-table {
    thead > tr > th {
      font-size: $tableFontSize;
      color: rgba($color: #000000, $alpha: 0.6);
      font-weight: bold;
      padding: 0.625rem;
    }

    tbody > tr {
      td {
        font-size: $tableFontSize;
        padding: 0.625rem;
      }
    }
  }

  .ant-table .ant-table-container::before,
  .ant-table .ant-table-container::after {
    width: 0;
  }
}
