.reporting__revenue-statistic {
  $textShadow1: 1px 1px 2px rgba(0, 0, 0, 0.4);
  $boxShadow0: 0 0 5px rgba(0, 0, 0, 0.15);
  $boxShadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
  $boxShadow2: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
  $borderRadius0: 3px;
  $borderRadius1: 5px;
  $borderRadius2: 7px;
  $fontSize0: 11px;
  $fontSize1: 12px;
  $fontSize2: 16px;
  $fontSize3: 20px;
  
  height: 405px;
  padding: 20px !important;
  padding-top: 30px !important;
  margin: 5px !important;
  border-radius: 10px;

  h1 {
    font-size: 18px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .reporting__revenue-statistic__revenue {
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    line-height: 25px;

    .reporting__revenue-statistic__revenue__number {
      font-weight: bold;
      margin-left: 10px;
    }
  }

  .reporting__revenue-statistic__widget {
    background: #f8f8f8;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 5px;

    &.--revenue-total {
      border-left: 5px solid orange;
      background: #fff6e6;

      .anticon {
        color: orange;
      }
    }

    &.--payment-total {
      border-left: 5px solid silver;
      background: #f8f8f8;

      .anticon {
        color: silver;
      }
    }

    &.--profit-total {
      border-left: 5px solid green;
      background: #edf8ec;

      .anticon {
        color: green;
      }
    }

    .reporting__revenue-statistic__widget__content {
      flex-direction: column;
      line-height: 30px;
      padding-top: 5px;

      .reporting__revenue-statistic__widget__content__value {
        font-size: 18px;
        .anticon {
          margin-right: 10px;
        }
      }

      .reporting__revenue-statistic__widget__content__label {
        color: rgba($color: #000000, $alpha: 0.4);
        font-size: 12px;
      }
    }
  }

  .reporting__revenue-statistic__chart {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
