.reporting__revenue-statistic {
  height: 440px;

  h1 {
    font-size: 16px;
    color: #ff8220;
    font-weight: bold;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .reporting__revenue-statistic__revenue {
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    line-height: 25px;

    .reporting__revenue-statistic__revenue__number {
      font-weight: bold;
      margin-left: 10px;
    }
  }
}