.product-management__add-product-dialog {
  .product-management__add-product-dialog__btn-open {
    border: 0;
    background: #ff8220;
    color: white;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.25rem;
  }
}

.product-management__add-product-dialog__content {
  $primaryFontSize: 0.75rem;

  .product-management__add-product-dialog__content__img-uploading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.25rem 0 2.5rem 0;
  }

  .product-management__add-product-dialog__content__form {
    .ant-form-item {
      display: flex;
      margin-bottom: 0.625rem;

      $formInputWidth: 100%;
      .ant-form-item-control-input {
        width: $formInputWidth;
        margin-top: -0.3125rem;
      }

      .ant-input-number {
        width: $formInputWidth;
        font-size: $primaryFontSize;
        height: 1.875rem;
      }

      .ant-form-item-label {
        text-align: left;
        padding-left: 0.3125rem;
      }

      label {
        font-size: $primaryFontSize;
        margin-left: -0.3125rem;
        color: rgba($color: #000000, $alpha: 0.5);
      }

      .ant-input {
        font-size: $primaryFontSize;
      }
    }

    .ant-form-item-has-error .ant-form-item-explain,
    .ant-form-item-has-error .ant-form-item-split {
      font-size: 0.625rem;
    }
  }
}
