.product-action-logs {
  $fontSize0: 0.5625rem;
  $fontSize1: 0.6875rem;

  max-height: 18.75rem;
  overflow: auto;
  padding-right: 0.3125rem;
  &::-webkit-scrollbar {
    width: 0.3125rem;
    height: 0.3125rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 0;
  }

  .product-action-logs__item {
    background: #f8f8f8;
    min-height: 3.75rem;
    width: 100%;
    margin: 0.3125rem;
    border: 0.0625rem solid #eee;
    padding: 0.625rem;
    border-radius: 0.1875rem;

    .product-action-logs__item__content {
      font-size: $fontSize1;
      margin: 0;
    }

    .product-action-logs__item__time {
      font-size: $fontSize0;
      color: gray;
    }
  }
}

.product-action-logs__content {
  .ant-popover-inner-content {
    padding: 0;
  }
}
