.profile {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #ff8220;

  .profile__main {
    width: 42.5%;
    height: 100%;
    background: white;
    position: absolute;
    z-index: 2;
    left: 27%;
    top: 10%;
    padding: 1.25rem;
    box-sizing: border-box;
    box-shadow: 0 1.1875rem 2.375rem rgba(0, 0, 0, 0.3), 0 0.9375rem 0.75rem rgba(0, 0, 0, 0.22);
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;

    .profile__main__header {
      padding-top: 1.875rem;
      height: 35%;
      border-bottom: 0.0625rem solid #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .profile__main__header__user-avatar {
        margin: 0.625rem;
      }

      .profile__main__header__user-info {
        .profile__main__header__user-info__name,
        .profile__main__header__user-info__role {
          text-align: center;
        }

        .profile__main__header__user-info__name {
          font-size: 1.125rem;
          color: rgba($color: #000000, $alpha: 0.8);
        }

        .profile__main__header__user-info__role {
          font-size: 0.625rem;
          color: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }

    .profile__main__body {
      padding: 1.25rem;
      padding-left: 2.5rem;
      ul {
        list-style: none;
        padding-left: 0;
        line-height: 2.1875rem;

        li {
          font-size: 0.6875rem;

          &.--highline {
            font-weight: bold;
            color: rgba($color: #000000, $alpha: 0.4);
          }
        }

        &.profile__main__body__list-user-fields {
          color: rgba($color: #000000, $alpha: 0.7);
        }

        &.profile__main__body__list-user-values {
          color: rgba($color: #000000, $alpha: 0.4);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile .profile__main {
    width: 90%;
    left: 5%;
    top: 12%;
  }
}
