.product-management__container__left-sidebar__categories__item__menu {
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    padding: 0 !important;
  }
}

.product-management {
  min-height: 100vh;
  padding: 3.75rem 0.9375rem 0.7813rem 0.9375rem;
  background: #ff8220;

  $boxShadow0: 0 0 0.3125rem
    rgba(
      $color: #000000,
      $alpha: 0.2
    );
  $boxShadow1: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  $boxShadow2: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16), 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.13);
  $primaryFontSize: 0.75rem;
  $padding: 1.25rem;
  $textShadow1: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.4);

  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 0.3125rem;
    }
  }

  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-management__container {
    width: 100%;
    height: 42rem;
    background: white;
    box-shadow: $boxShadow2;
    border-radius: 0.3125rem;
    overflow: hidden;

    .ant-row {
      width: 100%;
      height: 100%;
    }

    .product-management__container__left-sidebar {
      height: 100%;
      padding: 0 (0.5 * $padding);

      .product-management__container__left-sidebar__title {
        height: 11%;
        padding-top: 0.3125rem;
        display: flex;
        align-items: center;

        .product-management__container__left-sidebar__title__text {
          font-weight: bold;
          background: white;
          color: #ff8220;
          padding-left: 1.875rem;
          min-width: 13.75rem;
          min-height: 2.1875rem;
          display: flex;
          align-items: center;
          border-top-right-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;
          margin-left: -10%;
          font-size: 1rem;
        }
      }

      .product-management__container__left-sidebar__search-box {
        $searchBoxBackground: #f5f5f5;

        .ant-row {
          height: auto;
        }

        .ant-input-affix-wrapper {
          background: $searchBoxBackground;
          border-radius: 0.1875rem;
          overflow: hidden;
          box-shadow: none;
          outline-style: none;
          border: 0;
        }
        .ant-input {
          font-size: $primaryFontSize;
          background: $searchBoxBackground;
        }
      }

      .product-management__container__left-sidebar__categories {
        margin-top: 0.625rem;
        background: #f8f8f8;
        border: 0.0625rem solid #eee;
        max-height: 80%;
        border-radius: 0.1875rem;
        overflow: auto;
        @extend .styled-scrollbar;

        .product-management__container__left-sidebar__categories__wrapper {
          .product-management__container__left-sidebar__categories__item {
            font-size: $primaryFontSize;
            color: rgba($color: #000000, $alpha: 0.5);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            display: inline-block;
            padding: 0.4375rem 0.3125rem 0.4375rem 0.625rem;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
              background: #eee;
            }

            &.product-management__container__left-sidebar__categories__item--selected {
              color: white;
              font-weight: bold;
              background: #ff8220;
              border-top-left-radius: 0.1875rem;
            }
          }

          .ant-list-item {
            padding: 0;
          }
        }
      }
    }

    .product-management__container__topbar {
      height: 11%;
      padding: $padding;
      padding-right: 0;

      .product-management__container__topbar__btn {
        border: 0;
        box-shadow: none;
        color: gray;
      }

      .product-management__container__topbar__title {
        color: #ff8220;
        font-weight: bold;
        margin: 0;
        font-size: 1rem;
      }

      .product-management__container__topbar__supplier-select {
        @extend .centered-content;
        justify-content: flex-start;
        margin-top: -0.3125rem;

        .product-management__container__topbar__supplier-select__label {
          margin-right: 0.9375rem;
          margin-top: 0.9375rem;
          font-size: 0.625rem;
          color: rgba($color: #000000, $alpha: 0.4);
        }

        .ant-select {
          width: 13.75rem;
        }

        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
          border: 0;
          border-bottom: 0.0625rem solid #dcdcdc;
          color: #ff8220;
          font-weight: bold;
          background: transparent;
          height: 1.875rem;
          font-size: 0.875rem;
          padding: 0;
          padding-top: 0.1875rem;
          border-radius: 0;
          outline-style: none;
          box-shadow: none;
        }

        .ant-select-arrow {
          color: silver;
          right: 0;
          top: 1.125rem;
        }
      }

      .product-management__container__topbar__features {
        @extend .centered-content;
        justify-content: flex-end;

        .product-management__container__topbar__features__feature {
          position: relative;
          @extend .centered-content;
          cursor: pointer;

          .product-management__container__topbar__features__feature__btn-show-assignment {
            min-width: 11.875rem;
            min-height: 2.1875rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
            // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
            background: #40a5ec;
            font-weight: bold;
            font-size: $primaryFontSize;
            box-shadow: $boxShadow1;

            &.--alert {
              .--bell {
                font-size: 1rem;
                color: white;
                animation-iteration-count: infinite !important;
              }
            }
          }
          .product-management__container__topbar__features__feature__label {
            position: relative;

            sup {
              font-weight: bold;
              font-size: 0.625rem;
            }

            .ant-badge-count {
              background: crimson;
            }
          }
        }
      }

      .product-management__container__topbar__search-box {
        $searchBoxBackground: white;
        .ant-input-affix-wrapper {
          background: $searchBoxBackground;
          border-radius: 1.5rem;
          overflow: hidden;
          line-height: 1.6875rem;
          box-shadow: none;
          outline-style: none;
        }
        .ant-input {
          background: $searchBoxBackground;
        }
      }
    }

    .product-management__container__content {
      background: #eee;
      height: 89%;
      position: relative;

      .product-management__container__content__product-details {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.2);

        .product-management__container__content__product-details__panel {
          position: absolute;
          width: 30%;
          height: 100%;
          top: 0;
          right: 0;
          background: white;
          border-top: 0.0625rem solid #eee;
          box-shadow: -0.3125rem 0 0.3125rem -0.3125rem rgba(0, 0, 0, 0.24);

          .product-management__container__content__product-details__panel__header {
            position: relative;
            height: 3.125rem;
            padding: 0.625rem;
            @extend .centered-content;

            .product-management__container__content__product-details__panel__header__btn-close {
              color: gray;
              border: 0;
              background: #eee;
              transition: 0.2s;

              &:hover {
                background: #dcdcdc;
              }
            }

            .product-management__container__content__product-details__panel__header__btn-remove-product {
              color: #ff8220;
              font-size: $primaryFontSize;
            }
          }

          .product-management__container__content__product-details__panel__product-details {
            height: 100%;
            padding: 1.25rem;
            padding-top: 0;

            .product-management__container__content__product-details__panel__product-details__img {
              @extend .centered-content;
              justify-content: center;
              height: 31%;
            }

            .product-management__container__content__product-details__panel__product-details__info {
              .ant-form-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 0.3125rem;

                $formInputWidth: 18.125rem;
                .ant-form-item-control-input {
                  width: $formInputWidth;
                  margin-top: -0.3125rem;
                }

                .ant-input-number {
                  width: $formInputWidth;
                  margin-top: 0.125rem;
                }

                .ant-form-item-label {
                  text-align: left;
                  padding-left: 0.3125rem;
                }

                label {
                  font-size: $primaryFontSize;
                  margin-left: -0.3125rem;
                  color: rgba($color: #000000, $alpha: 0.5);
                }

                .ant-input {
                  font-size: $primaryFontSize;
                }
              }

              .ant-form-item-has-error .ant-form-item-explain,
              .ant-form-item-has-error .ant-form-item-split {
                font-size: 0.625rem;
              }
            }

            .product-management__container__content__product-details__panel__product-details__btn-update__wrapper {
              @extend .centered-content;
              justify-content: center;
              height: 5rem;

              .product-management__container__content__product-details__panel__product-details__btn-update__wrapper__btn {
                background: #ff8220;
                border: 0;
                font-weight: bold;
                border-radius: 1.5rem;
                min-height: 2.5rem;
                box-shadow: $boxShadow1;
                font-size: $primaryFontSize + "0.0625rem";
                width: 100%;
              }
            }
          }
        }
      }

      .product-management__container__content__list-products {
        $tableFontSize: 0.6875rem;
        position: relative;
        padding: 0.625rem;

        .product-management__container__content__list-products__product-img {
          width: 1.5625rem;
        }

        .product-management__container__content__list-products__selected-row {
          background: #fff6e6;
        }

        .ant-table-body {
          height: 34.0625rem;
          @extend .styled-scrollbar;
        }

        .ant-table {
          thead > tr > th {
            font-size: $tableFontSize;
            color: #ff8220;
            font-weight: bold;
            padding: 0.625rem;
          }

          tbody > tr {
            td {
              font-size: $tableFontSize;
              transition: 0.2s;
              cursor: pointer;
              padding: 0.625rem;
            }

            &:hover {
              td {
                background: none;
              }
            }
          }

          .ant-empty {
            height: 28.125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .product-management {
    padding: 4.5rem 0.5rem 0.5rem 0.5rem;
  }
}
