.product-management__add-category-dialog {
  .product-management__add-category-dialog__btn-open-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .product-management__add-category-dialog__btn-open-wrapper__btn {
      color: rgba($color: #000000, $alpha: 0.5);
      border: 1px solid #eee;
      background: #eee;
      box-shadow: 0;
      width: 1.9688rem;
      height: 1.9688rem;
      border-radius: 50%;
      font-size: 0.85rem;
      margin-left: 0.2rem;
      transition: 0.2s;
      &:hover{
        background: #ff8220;
        color: white;
      }
    }
  }
}
.product-management__add-category-dialog__content {
  width: 100%;

  .ant-form-item {
    label {
      color: rgba($color: #000000, $alpha: 0.5);
    }

    .ant-form-item-control-input {
      width: 100%;
    }
  }

  .ant-form-item-has-error .ant-form-item-explain,
  .ant-form-item-has-error .ant-form-item-split {
    font-size: 0.625rem;
  }
}
