$fontSize0: 0.6875rem;
$fontSize1: 0.75rem;
$fontSize2: 0.9375rem;
$fontSize3: 1.25rem;

.--importing-statistic {
  margin-right: 0.7rem;
  .--importing-statistic__header {
    padding: 1.5625rem 1.25rem 0 1.25rem;
    height: 7.1875rem;
    border-bottom: 0.0625rem solid #eee;
    position: relative;

    .--importing-statistic__header__title {
      display: flex;
      align-items: center;
      font-size: $fontSize2;
      color: #ff8220;
      font-weight: bold;
    }
    .--importing-statistic__header__importing-cost {
      font-size: $fontSize0;
      display: flex;
      line-height: 1.25rem;

      span {
        display: block;
        width: 50%;
        color: rgba($color: #000000, $alpha: 0.5);
      }

      .--importing-statistic__header__importing-cost__number {
        width: 50%;
        text-align: right;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.7);
      }

      &:nth-of-type(1) {
        padding-top: 1.875rem;
      }
      &:nth-of-type(2) {
        padding-top: 0.9375rem;
      }
    }
  }

  .--importing-statistic__progress-wrapper {
    width: 100%;
    height: 10.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-progress-inner {
      width: 7.5rem !important;
      height: 7.5rem !important;
    }

    .--importing-statistic__progress-wrapper__progress-inner {
      display: flex;
      flex-direction: column;
      line-height: 1.25rem;

      .--importing-statistic__progress-wrapper__progress-inner__value {
        font-size: $fontSize2;
      }
      .--importing-statistic__progress-wrapper__progress-inner__label {
        font-size: $fontSize0;
        color: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }

  .--importing-statistic__footer {
    height: 4.6875rem;
    background: white;
    .--importing-statistic__footer__col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0.0625rem solid #eee;
      height: 100%;
      line-height: 1.6875rem;

      .--importing-statistic__footer__col__value {
        font-size: $fontSize3;
        font-weight: bold;
      }

      .--importing-statistic__footer__col__label {
        font-size: $fontSize0;
        color: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .--importing-statistic {
    margin: 0;
  }
}
