.importing-request__container__suppliers {
  $boxShadow0: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.12);
  $boxShadow1: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  $boxShadow2: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16), 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.13);
  $textShadow1: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.4);
  $borderRadius0: 0.1875rem;
  $borderRadius1: 0.3125rem;
  $borderRadius2: 0.4375rem;
  $fontSize: 0.6875rem;
  $fontSize1: 0.85rem;

  background: white;
  border-radius: $borderRadius2;
  box-shadow: $boxShadow2;
  height: 100%;
  width: 100%;
  padding: 0.625rem;

  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: $borderRadius1;
    }
  }

  .importing-request__container__suppliers__header {
    height: 6%;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    margin: 2% 0 1% -0.7rem;
    border-radius: 0.125rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding-left: 5%;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
    text-shadow: $textShadow1;
    font-size: $fontSize1;
    width: 102%;
    padding-right: 0.625rem;
  }

  .importing-request__container__suppliers__toolbar {
    padding: 3% 0;
    display: flex;

    $searchBoxBackground: white;
    .ant-input-affix-wrapper {
      background: $searchBoxBackground;
      border: 0.0625rem solid #eee;
      border-radius: 1.5rem;
      overflow: hidden;
      box-shadow: none;
      outline-style: none;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
    }
    .ant-input {
      font-size: $fontSize;
      background: $searchBoxBackground;
    }
  }

  .importing-request__container__suppliers__list {
    height: 10rem;
    border: 0.0625rem solid #eee;
    border-radius: $borderRadius0;
    background: #f8f8f8;
    overflow: auto;
    @extend .styled-scrollbar;

    .importing-request__container__suppliers__list__item {
      font-size: $fontSize;
      transition: 0.2s;
      cursor: pointer;

      &.--selected {
        background: #fff6e6;
        color: #ff8220;
        font-weight: bold;
      }
    }

    .ant-list-items {
      font-size: $fontSize - 1;
      background: white;

      .ant-list-item {
        padding-left: 4%;
        transition: 0.2s;
        &:hover:not(.--selected) {
          background: #f8f8f8;
        }
      }
    }
  }

  .importing-request__container__suppliers__details {
    padding-top: 4%;
    font-size: $fontSize;

    .importing-request__container__suppliers__details__header {
      padding-left: 2%;
      display: flex;
      align-items: center;

      .importing-request__container__suppliers__details__header__title {
        font-weight: bold;
        color: #ff8220;
        font-size: $fontSize1;
      }

      .importing-request__container__suppliers__details__header__toolbar {
        padding-left: 3%;
        width: 50%;
        display: flex;

        .importing-request__container__suppliers__details__header__toolbar__btn {
          color: rgba($color: #000000, $alpha: 0.3);
          border: 0;
          box-shadow: none;
          font-size: $fontSize;
          margin-right: 0.3125rem;
        }
      }
    }

    .ant-divider-horizontal {
      margin: 0.3125rem 0;
    }

    .importing-request__container__suppliers__details__content {
      font-size: $fontSize - 1;
      line-height: 1.5625rem;
      padding-left: 2%;

      .importing-request__container__suppliers__details__content__label {
        font-weight: bold;
      }

      .importing-request__container__suppliers__details__content__map {
        margin: 1rem 0;
      }
    }
  }
}
