.change-password {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff8220;

  .change-password__content {
    background: white;
    padding: 2.5rem;
    box-shadow: 0 1.1875rem 2.375rem rgba(0, 0, 0, 0.3), 0 0.9375rem 0.75rem rgba(0, 0, 0, 0.22);
    border-radius: 0.625rem;
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
    margin-left: -10%;

    .change-password__content__icon-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40%;
      .change-password__content__icon-wrapper__icon {
        font-size: 4.375rem;
        color: #ff8220;
        padding-bottom: 0.625rem;
      }
    }

    .change-password__content__form {
      .change-password__content__form__btn-submit {
        background: #ff8220;
        color: white;
        border: 0;
        font-weight: bold;
        box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
        min-width: 9.375rem;
        min-height: 2.1875rem;
        margin-top: 1.25rem;
        font-size: 0.8rem;
      }
    }

    .ant-form-item-has-error .ant-form-item-explain,
    .ant-form-item-has-error .ant-form-item-split {
      font-size: 0.625rem;
    }

    .ant-form-item {
      label {
        font-size: 0.6875rem;
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }

    .ant-input {
      font-size: 0.75rem;
    }
  }
}

@media screen and (max-width: 762px) {
  .change-password .change-password__content {
    width: 90%;
    height: 70%;
    margin-left: 0;
    margin-top: 0;
    padding: 5rem 1.5rem 1.25rem 1.5rem;
  }

  .change-password
    .change-password__content
    .change-password__content__form
    .change-password__content__form__btn-submit {
    margin-top: 0;
  }
}
