$primaryTextShadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100vw;
  height: 100vh;
  @extend .centered-content;
  // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  position: relative;

  background: url("../../../assets/images/bg.jpg");
  background-size: 100% 100%;

  .dark-bg {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
  }

  .wave {
    position: absolute;
    z-index: 2;
    bottom: 0;
  }

  .login {
    position: relative;
    z-index: 3;
    width: 40%;
    height: 55%;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.2);
    @extend .centered-content;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background: white;

    position: relative;

    .__content {
      width: 100%;
      padding-top: 20px;

      .__main-title {
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: bold;
        color: darkorange;
      }

      .__form {
        width: 100%;

        .ant-form-item-has-error .ant-form-item-explain,
        .ant-form-item-has-error .ant-form-item-split {
          font-size: 10px;
        }

        .ant-form-item-control {
          max-width: 100%;
          flex: 0 0 100%;
          margin-left: 0;
        }

        .__form__icon {
          margin-right: 5px;
        }

        .__form__forgot-password {
          width: 100%;
          text-align: center;
          font-size: 12px;

          a {
            text-decoration: none;
            color: orangered;
          }
        }

        .__form__btn-submit {
          background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
          border: 0;
          width: 100%;
          font-weight: bold;
          height: 45px;
          margin-top: 20px;
          border-radius: 24px;
          text-shadow: $primaryTextShadow;
        }
      }

      .__staff-symbol {
        width: 100%;
        @extend .centered-content;
        height: 270px;

        img {
          width: 50%;
        }
      }
    }

    .__header {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      display: flex;
      align-items: center;

      .__company-logo {
        width: 25px;
        margin-right: 7px;
        margin-top: -3px;
      }

      .__company-brand {
        .__name {
          font-size: 13px;
          letter-spacing: 2px;
          color: orangered;
          font-weight: bold;
        }

        .__slogan {
          font-size: 8px;
          font-style: italic;
          margin-top: -5px;
        }
      }
    }

    .__footer {
      position: absolute;
      bottom: 0;
      left: 36%;
      font-size: 12px;
    }
  }
}
