$leftSidebarHeight: 100vh;
$primaryTextShadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
$boxShadow1: 0 1px 2px rgba(0, 0, 0, 0.2);
$boxShadow2: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);

.work-assignment {
  padding: 15px;
  padding-top: 25px;
  overflow: hidden;
  height: 92.6vh;

  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 3px;
    }
  }

  .ant-list-bordered {
    border-color: #eee;
  }
  .work-assignment__left-sidebar {
    height: $leftSidebarHeight;
    padding-right: 10px;

    .work-assignment__left-sidebar__year-selection {
      .ant-select {
        width: 100%;
        margin-top: 5px;
        box-shadow: $boxShadow1;
        border-radius: 3px;
        overflow: hidden;

        .ant-select-selector {
          border: 0;
        }
      }
    }

    .ant-list-items {
      font-size: 10px;
      overflow: hidden;
      overflow-y: auto;
      @extend .styled-scrollbar;
    }

    .work-assignment__left-sidebar__title {
      padding: 10px 3px 5px 3px;
      font-size: 12px;
      color: rgba($color: #000000, $alpha: 0.4);
      font-weight: bold;
    }

    .work-assignment__left-sidebar__list-tasks {
      .work-assignment__left-sidebar__list-tasks__wrapper {
        margin-top: 5px;
        height: 66.6 / 100 * $leftSidebarHeight;
        background: white;
        border-radius: 3px;
        box-shadow: $boxShadow1;
        overflow: hidden;
        overflow-y: auto;
        @extend .styled-scrollbar;

        .ant-list-items {
          .ant-list-item {
            font-size: 12px;
            padding-left: 0;
            cursor: pointer;
            transition: 0.2s;
          }
        }
      }

      .work-assignment__left-sidebar__list-tasks__item {
        transition: 0.2s;
        border-left: 4px solid white;

        .work-assignment__left-sidebar__list-tasks__item__task-name {
          margin-left: 10px;
          display: block;
        }

        .work-assignment__left-sidebar__list-tasks__item__btn-remove {
          color: rgba($color: #000000, $alpha: 0.2);
          font-size: 12px;
          font-weight: bold;
          height: 100%;
          @extend .centered-content;
        }

        &.work-assignment__left-sidebar__list-tasks__item--selected {
          background: #fff6e6;
          color: darkorange;
          font-weight: bold;
          border-left-color: #ffb833;
        }

        &:not(.work-assignment__left-sidebar__list-tasks__item--selected) {
          color: rgba($color: #000000, $alpha: 0.5);

          &:hover {
            background: #f5f5f5;
            border-left-color: #f5f5f5;
          }
        }
      }
    }
  }

  .work-assignment__content {
    height: 87.6vh;
    position: relative;
    box-shadow: $boxShadow1;
    border-radius: 5px;
    border-top-left-radius: 30px;
    overflow: hidden;

    .work-assignment__content__task-work-day-panel {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .work-assignment__content__task-work-day-panel__panel {
        padding: 15px 10px 10px 15px;
        height: 100%;
        width: 28%;
        background: white;
        position: absolute;
        z-index: 3;
        right: 0;
        box-shadow: $boxShadow1;

        $blockPaddingTop: 20px;

        .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts {
          padding-top: $blockPaddingTop / 2;

          .ant-list-items {
            font-size: 12px;

            .ant-list-item {
              padding-top: 10px;
            }
          }

          .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__item {
            color: rgba($color: #000000, $alpha: 0.5);
            padding: 6px;
            margin-left: -5px;
            border-left: 4px solid #f8f8f8;
            cursor: pointer;
            width: 100%;
            transition: 0.2s;
            display: flex;
            align-items: center;

            &:hover {
              background: #f5f5f5;
            }
          }

          .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__item--selected {
            background: #fff6e6;
            padding: 6px;
            margin-left: -5px;
            border-left: 4px solid #ffb833;
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }

        .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__details {
          padding-top: $blockPaddingTop;

          ul {
            list-style: none;
            padding-left: 0;

            li {
              line-height: 30px;
              font-size: 12px;
            }

            &.work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__time--value {
              font-weight: bold;
            }
          }
        }

        .work-assignment__content__task-work-day-panel__panel__main {
          padding-top: $blockPaddingTop;
          padding-left: 5px;

          .work-assignment__content__task-work-day-panel__panel__main__title {
            font-size: 12px;
            color: rgba($color: #000000, $alpha: 0.7);
          }

          .work-assignment__content__task-work-day-panel__panel__main__list-staffs {
            margin-top: -5px;

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__note {
              padding-top: 5px;
              line-height: 15px;
              font-size: 9px;
              margin-bottom: 5px;
              color: rgba($color: #000000, $alpha: 0.5);
            }

            .ant-list-items {
              .ant-list-item {
                @extend .centered-content;
                padding: 0;
                margin-bottom: 7px;
                border-bottom: 0;
              }

              .ant-list-item-meta {
                .ant-list-item-meta-title {
                  font-size: 12px;
                  margin-top: -1.5px;
                }
                .ant-list-item-meta-description {
                  font-size: 9px;
                  margin-top: -9px;
                }
              }
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__wrapper,
            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__wrapper {
              border: 1px solid #eee;
              padding: 0 10px;
              border-radius: 3px;
              overflow: hidden;
              overflow-y: auto;
              background: #f8f8f8;
              padding-top: 10px;
              margin-top: 5px;
              @extend .styled-scrollbar;
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__wrapper {
              height: 120px;
              padding-right: 5px;
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__wrapper {
              height: 250px;

              .work-assignment__content__task-work-day-panel__panel__main__list-staffs__staff {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                background: white;
                padding: 15px;
                padding-bottom: 10px;
                border: 1px solid #eee;
                border-radius: 3px;
              }
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__btn-unassign,
            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__btn-close {
              color: rgba($color: #000000, $alpha: 0.4);
              font-size: 12px;
              font-weight: bold;
              height: 100%;
              @extend .centered-content;
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__btn-close {
              color: rgba($color: #000000, $alpha: 0.15);
            }
          }
        }
      }
    }

    .work-assignment__content__btn-edit {
      font-size: 12px;
      color: rgba($color: #000000, $alpha: 0.5);
    }

    $contentHeaderColor: white;

    .work-assignment__content__header {
      height: 20%;
      padding: 20px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      background-color: #ffc966;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffbb59' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffae4b' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ff9f3e' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ff9130' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ff8220' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ff9130' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ff9f3e' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffae4b' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23ffbb59' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffc966' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      border-bottom: 4px solid white;
      position: relative;

      .work-assignment__content__header__dark-bg {
        position: absolute;
        z-index: 1;
        background: rgba($color: #000000, $alpha: 0.1);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .work-assignment__content__header__task-name {
        position: relative;
        z-index: 2;
        h3 {
          color: $contentHeaderColor;
          font-weight: bold;
          letter-spacing: 1px;
          text-shadow: $primaryTextShadow;
        }
      }

      .work-assignment__content__header__task-expiration {
        font-size: 12px;
        color: $contentHeaderColor;
      }
    }

    .work-assignment__content__body {
      margin-top: -5%;
      position: relative;
      z-index: 2;

      .work-assignment__content__body__tabs {
        .ant-tabs-tab {
          color: #dcdcdc;
          font-size: 12px;
        }

        .ant-tabs-bar {
          margin: 0;
        }
        .ant-tabs-nav-scroll {
          padding-left: 20px;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
          color: $contentHeaderColor;
          font-weight: bold;
        }
        .ant-tabs-ink-bar {
          background: #ffb833;
          height: 3px;
        }

        .work-assignment__content__body__tabs__work-schedule {
          padding: 20px;
          background: white;
          height: 100vh;

          .work-assignment__content__body__tabs__work-schedule__work-day {
            padding: 10px;
            padding-right: 5px;
            padding-bottom: 0;
            height: 85px;
            background: #f8f8f8;
            border: 1px solid #eee;
            cursor: pointer;
            transition: 0.2s;
            margin: 2px;

            &:hover {
              background: #fff6e6;
            }

            &.work-assignment__content__body__tabs__work-schedule__work-day--selected {
              border: 2px solid #ffb833;
              background: #fff6e6;
              box-sizing: border-box;
              position: relative;
              z-index: 5;
              transform: scale(1.05, 1.05);
              box-shadow: $boxShadow2;
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__day-in-month {
              font-size: 12px;

              &.work-assignment__content__body__tabs__work-schedule__work-day__day-in-month--sunday {
                color: #ff8220;
              }
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__week-day {
              color: gray;
              font-size: 9px;
              display: block;

              &.work-assignment__content__body__tabs__work-schedule__work-day__week-day--sunday {
                color: #ff8220;
              }
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__note {
              font-size: 9px;
              padding-top: 10px;
              box-sizing: border-box;
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__staffs {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 50px;
              .work-assignment__content__body__tabs__work-schedule__work-day__staffs__avatar--plus {
                width: 16px;
                height: 16px;
                background: rgba($color: #000000, $alpha: 0.7);
                color: white;
                border-radius: 50%;
                font-size: 10px;
                padding: 3px 0 2px 0;
                font-size: 9px;
                display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
