$primaryTextShadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
$boxShadow1: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
$boxShadow2: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16), 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
$workScheduleHeight: 43.7rem;

.work-assignment {
  padding: 0.9375rem;
  padding-top: 4rem;
  min-height: 100vh;
  background: #ff8220;

  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 0.1875rem;
    }
  }

  .ant-list-bordered {
    border-color: #eee;
  }
  .work-assignment__left-sidebar {
    padding-right: 0.625rem;

    .work-assignment__left-sidebar__year-selection {
      .ant-select {
        width: 100%;
        margin-top: 0.3125rem;
        box-shadow: $boxShadow1;
        border-radius: 0.1875rem;
        overflow: hidden;

        .ant-select-selector {
          border: 0;
        }
      }
    }

    .ant-list-items {
      font-size: 0.625rem;
      overflow: hidden;
      overflow-y: auto;
      @extend .styled-scrollbar;
    }

    .work-assignment__left-sidebar__title {
      padding: 0.625rem 0.1875rem 0.3125rem 0.1875rem;
      font-size: 0.75rem;
      color: white;
      font-weight: bold;
    }

    .work-assignment__left-sidebar__list-tasks {
      .work-assignment__left-sidebar__list-tasks__wrapper {
        margin-top: 0.3125rem;
        height: $workScheduleHeight - 9.5rem;
        background: white;
        border-radius: 0.1875rem;
        box-shadow: $boxShadow1;
        overflow: hidden;
        overflow-y: auto;
        @extend .styled-scrollbar;

        .ant-list-items {
          .ant-list-item {
            font-size: 0.75rem;
            padding-left: 0;
            cursor: pointer;
            transition: 0.2s;
          }
        }
      }

      .work-assignment__left-sidebar__list-tasks__item {
        transition: 0.2s;
        border-left: 0.25rem solid white;

        .work-assignment__left-sidebar__list-tasks__item__task-name {
          margin-left: 0.625rem;
          display: block;
        }

        .work-assignment__left-sidebar__list-tasks__item__btn-remove {
          color: rgba($color: #000000, $alpha: 0.2);
          font-size: 0.75rem;
          font-weight: bold;
          height: 100%;
          @extend .centered-content;
        }

        &.work-assignment__left-sidebar__list-tasks__item--selected {
          background: #fff6e6;
          color: darkorange;
          font-weight: bold;
          border-left-color: #ffb833;
        }

        &:not(.work-assignment__left-sidebar__list-tasks__item--selected) {
          color: rgba($color: #000000, $alpha: 0.5);

          &:hover {
            background: #f5f5f5;
            border-left-color: #f5f5f5;
          }
        }
      }
    }
  }

  .work-assignment__content {
    height: $workScheduleHeight;
    position: relative;
    box-shadow: $boxShadow2;
    border-radius: 0.625rem;
    border-top-left-radius: 1.875rem;
    overflow: hidden;

    .work-assignment__content__task-work-day-panel {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

      .work-assignment__content__task-work-day-panel__panel {
        padding: 0.9375rem 0.625rem 0.625rem 0.9375rem;
        height: 100%;
        width: 28%;
        background: white;
        position: absolute;
        z-index: 3;
        right: 0;
        box-shadow: $boxShadow1;

        $blockPaddingTop: 1.25rem;

        .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts {
          padding-top: $blockPaddingTop / 2;

          .ant-list-items {
            font-size: 0.75rem;

            .ant-list-item {
              padding-top: 0.625rem;
            }
          }

          .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__item {
            color: rgba($color: #000000, $alpha: 0.5);
            padding: 0.375rem;
            margin-left: -0.3125rem;
            border-left: 0.25rem solid #f8f8f8;
            cursor: pointer;
            width: 100%;
            transition: 0.2s;
            display: flex;
            align-items: center;

            &:hover {
              background: #f5f5f5;
            }
          }

          .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__item--selected {
            background: #fff6e6;
            padding: 0.375rem;
            margin-left: -0.3125rem;
            border-left: 0.25rem solid #ffb833;
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
          }
        }

        .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__details {
          padding-top: $blockPaddingTop;

          ul {
            list-style: none;
            padding-left: 0;

            li {
              line-height: 1.875rem;
              font-size: 0.75rem;
            }

            &.work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__time--value {
              font-weight: bold;
            }
          }
        }

        .work-assignment__content__task-work-day-panel__panel__main {
          padding-top: $blockPaddingTop;
          padding-left: 0.3125rem;

          h3 {
            font-size: 1rem;
          }

          .work-assignment__content__task-work-day-panel__panel__main__title {
            font-size: 0.75rem;
            color: rgba($color: #000000, $alpha: 0.7);
          }

          .work-assignment__content__task-work-day-panel__panel__main__list-staffs {
            margin-top: -0.3125rem;

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__note {
              padding-top: 0.3125rem;
              line-height: 0.9375rem;
              font-size: 0.5625rem;
              margin-bottom: 0.3125rem;
              color: rgba($color: #000000, $alpha: 0.5);
            }

            .ant-list-items {
              .ant-list-item {
                @extend .centered-content;
                padding: 0;
                margin-bottom: 0.4375rem;
                border-bottom: 0;
              }

              .ant-list-item-meta {
                .ant-list-item-meta-title {
                  font-size: 0.75rem;
                  margin-top: -0.0938rem;
                }
                .ant-list-item-meta-description {
                  font-size: 0.5625rem;
                  margin-top: -0.5625rem;
                }
              }
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__wrapper,
            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__wrapper {
              border: 0.0625rem solid #eee;
              padding: 0 0.625rem;
              border-radius: 0.1875rem;
              overflow: hidden;
              overflow-y: auto;
              background: #f8f8f8;
              padding-top: 0.625rem;
              margin-top: 0.3125rem;
              @extend .styled-scrollbar;
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-work-shifts__wrapper {
              height: 9rem;
              padding-right: 0.3125rem;
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__wrapper {
              height: 16rem;

              .work-assignment__content__task-work-day-panel__panel__main__list-staffs__staff {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                background: white;
                padding: 0.9375rem;
                padding-bottom: 0.625rem;
                border: 0.0625rem solid #eee;
                border-radius: 0.1875rem;
              }
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__btn-unassign,
            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__btn-close {
              color: rgba($color: #000000, $alpha: 0.4);
              font-size: 0.75rem;
              font-weight: bold;
              height: 100%;
              @extend .centered-content;
            }

            .work-assignment__content__task-work-day-panel__panel__main__list-staffs__btn-close {
              color: rgba($color: #000000, $alpha: 0.15);
            }
          }
        }
      }
    }

    .work-assignment__content__btn-edit {
      font-size: 0.75rem;
      color: rgba($color: #000000, $alpha: 0.5);
    }

    $contentHeaderColor: white;

    .work-assignment__content__header {
      height: 20%;
      padding: 1.25rem;
      padding-top: 0.625rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      background: url("../../../../assets/images/work-schedule-header-cover.png");
      background-size: cover;
      position: relative;

      .work-assignment__content__header__dark-bg {
        position: absolute;
        z-index: 1;
        background: rgba($color: #eee, $alpha: 0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .work-assignment__content__header__task-name {
        position: relative;
        z-index: 2;
        h3 {
          color: $contentHeaderColor;
          font-weight: bold;
          letter-spacing: 0.0625rem;
          text-shadow: $primaryTextShadow;
          font-size: 1.2rem;
        }
      }

      .work-assignment__content__header__task-expiration {
        font-size: 0.75rem;
        color: $contentHeaderColor;
      }
    }

    .work-assignment__content__body {
      margin-top: -3.125rem;
      position: relative;
      z-index: 2;

      .work-assignment__content__body__tabs {
        .ant-tabs-tab {
          color: #dcdcdc;
          font-size: 0.75rem;
        }

        .ant-tabs-bar {
          margin: 0;
        }
        .ant-tabs-nav-scroll {
          padding-left: 1.25rem;
        }
        .ant-tabs-nav .ant-tabs-tab-active {
          color: $contentHeaderColor;
          font-weight: bold;
        }
        .ant-tabs-ink-bar {
          background: #ffb833;
          height: 0.1875rem;
        }

        .work-assignment__content__body__tabs__work-schedule {
          padding: 1.25rem;
          background: white;
          background: #f8f8f8;
          height: 40rem;

          .work-assignment__content__body__tabs__work-schedule__work-day {
            padding: 0.625rem;
            padding-right: 0.3125rem;
            padding-bottom: 0;
            height: 5.3125rem;
            background: white;
            border: 0.0625rem solid #f1f3f5;
            cursor: pointer;
            transition: 0.2s;
            margin: 0.0625rem;

            &:hover {
              background: #fff6e6;
            }

            &.work-assignment__content__body__tabs__work-schedule__work-day--selected {
              border: 0.125rem solid #ffb833;
              background: #fff6e6;
              box-sizing: border-box;
              position: relative;
              z-index: 5;
              transform: scale(1.05, 1.05);
              box-shadow: $boxShadow2;
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__day-in-month {
              font-size: 0.75rem;

              &.work-assignment__content__body__tabs__work-schedule__work-day__day-in-month--sunday {
                color: #ff8220;
              }
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__week-day {
              color: gray;
              font-size: 0.5625rem;
              display: block;

              &.work-assignment__content__body__tabs__work-schedule__work-day__week-day--sunday {
                color: #ff8220;
              }
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__note {
              font-size: 0.5625rem;
              padding-top: 0.625rem;
              box-sizing: border-box;
            }

            .work-assignment__content__body__tabs__work-schedule__work-day__staffs {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 3.125rem;
              .work-assignment__content__body__tabs__work-schedule__work-day__staffs__avatar--plus {
                width: 1rem;
                height: 1rem;
                background: rgba($color: #000000, $alpha: 0.7);
                color: white;
                border-radius: 50%;
                font-size: 0.625rem;
                padding: 0.1875rem 0 0.125rem 0;
                font-size: 0.5625rem;
                display: inline-block;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .work-assignment {
    padding-top: 5rem;
  }

  .work-assignment
    .work-assignment__left-sidebar
    .work-assignment__left-sidebar__list-tasks
    .work-assignment__left-sidebar__list-tasks__wrapper {
    height: auto;
    margin-bottom: 15px;
  }

  .work-assignment
    .work-assignment__content
    .work-assignment__content__task-work-day-panel
    .work-assignment__content__task-work-day-panel__panel {
    width: 80%;
    position: absolute;

    &--hidden {
      display: none;
    }
  }

  .work-assignment
    .work-assignment__content
    .work-assignment__content__body
    .work-assignment__content__body__tabs
    .work-assignment__content__body__tabs__work-schedule {
    padding: 5px;
  }

  .work-assignment
    .work-assignment__content
    .work-assignment__content__body
    .work-assignment__content__body__tabs
    .work-assignment__content__body__tabs__work-schedule
    .work-assignment__content__body__tabs__work-schedule__work-day {
    min-width: 46px;
    height: 46px;
    padding: 5px 0 0 5px;
  }

  .work-assignment .work-assignment__content {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .work-assignment .work-assignment__left-sidebar {
    padding-right: 0;
  }

  .work-assignment
    .work-assignment__content
    .work-assignment__content__body
    .work-assignment__content__body__tabs
    .work-assignment__content__body__tabs__work-schedule
    .work-assignment__content__body__tabs__work-schedule__work-day
    .work-assignment__content__body__tabs__work-schedule__work-day__week-day {
    font-size: 0.5rem;
  }

  .work-assignment
    .work-assignment__content
    .work-assignment__content__body
    .work-assignment__content__body__tabs
    .work-assignment__content__body__tabs__work-schedule
    .work-assignment__content__body__tabs__work-schedule__work-day
    .work-assignment__content__body__tabs__work-schedule__work-day__staffs {
    display: none;
  }
}
