.importing-request {
  width: 100%;
  padding: 0.625rem;
  padding-top: 3.5rem;
  min-height: 100vh;
  background: #ff8220;
  // overflow: hidden;

  $boxShadow0: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.12);
  $boxShadow1: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  $boxShadow2: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.16), 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.13);
  $textShadow1: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.4);
  $borderRadius0: 0.1875rem;
  $borderRadius1: 0.3125rem;
  $borderRadius2: 0.4375rem;
  $fontSize: 0.75rem;

  .block-style {
    background: white;
    border-radius: $borderRadius1;
    border-top-left-radius: $borderRadius1;
    border-top-right-radius: $borderRadius1;
    box-shadow: $boxShadow2;
    height: 100%;
    width: 100%;
  }

  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: $borderRadius1;
    }
  }

  .importing-request__container {
    width: 100%;

    .importing-request__container__block {
      @extend .block-style;
      padding: 0.625rem;
      height: 44rem;
      overflow: hidden;

      .importing-request__container__block__header {
        height: 3rem;
        display: flex;
        align-items: center;
        padding-left: 2%;
        position: relative;
        font-size: $fontSize;

        $todoColor: #ff8220;
        $acceptedColor: #039be5;
        $finishedColor: green;

        .importing-request__container__block__header__title {
          font-weight: bold;
          font-size: 0.8rem;

          &.--pending {
            color: $todoColor;
          }

          &.--accepted {
            color: $acceptedColor;
          }

          &.--finished {
            color: $finishedColor;
          }
        }

        .importing-request__container__block__header__btn-update {
          font-size: $fontSize;
          border: 0;
          box-shadow: none;
          margin-left: 0.3125rem;
          color: gray;
          background: none;
        }

        .importing-request__container__block__header__number {
          position: absolute;
          right: 0;
          min-width: 2.5rem;
          color: white;
          text-align: center;
          font-weight: bold;
          font-size: $fontSize;
          padding: 0.125rem;
          border-radius: 1.5rem;

          &.--pending {
            background: #fff6e6;
            color: #ff8220;
          }

          &.--accepted {
            background: #e6f6ff;
            color: #039be5;
          }

          &.--finished {
            background: #edf8ec;
            color: green;
          }
        }
      }

      .importing-request__container__block__body {
        height: 93%;
        background: #eee;
        border-radius: $borderRadius0;
        padding: 0.3125rem;
        overflow: auto;

        &.--pending {
          height: 84.5%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .importing-request {
    padding-top: 4rem;
  }

  .importing-request .importing-request__container .importing-request__container__block {
    height: 25rem;
  }
  .importing-request
    .importing-request__container
    .importing-request__container__block
    .importing-request__container__block__body.--pending {
    height: 73%;
  }
}
