$borderRadius0: 0.125rem;
$borderRadius1: 0.1875rem;
$fontSize0: 0.5625rem;
$fontSize1: 0.625rem;
$fontSize2: 0.6875rem;
$fontSize3: 0.75rem;

.importer-assignment {
  .importer-assignment__summary {
    width: 100%;
    min-height: 5.9375rem;
    padding: 0.7813rem 0.625rem 0.625rem 0.7813rem;
    background: white;
    border: 0.0625rem solid #eee;
    margin-bottom: 0.3125rem;
    cursor: pointer;

    .importer-assignment__summary__avatar {
      margin-top: 0.125rem;
    }

    .importer-assignment__summary__details {
      text-align: left;
      display: flex;
      flex-direction: column;

      .importer-assignment__summary__details__title {
        font-size: $fontSize3;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.6);
      }

      .importer-assignment__summary__details__time {
        font-size: $fontSize1;
        color: rgba($color: #000000, $alpha: 0.4);
      }

      .importer-assignment__summary__details__products {
        font-size: $fontSize1;
        padding-top: 0.3125rem;
        margin: 0;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.importer-assignment__content {
  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 0.3125rem;
      height: 0.3125rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: $borderRadius1;
    }
  }

  .ant-modal-content {
    width: 50vw;
    left: -25%;
  }

  .importer-assignment__content__labels,
  .importer-assignment__content__values {
    list-style: none;
    padding-left: 0;
    font-size: $fontSize3;
    line-height: 2.375rem;
  }
  
  .importer-assignment__content__values {
    .importer-assignment__content__values__status {
      font-weight: bold;
      color: #ff8220;
    }
  }

  .importer-assignment__content__products {
    $tableFontSize: $fontSize2;
    margin-top: -0.3125rem;
    .ant-table {
      thead > tr > th {
        font-size: $tableFontSize;
        color: #ff8220;
        font-weight: bold;
        padding: 0.625rem 0;

        &:nth-of-type(1) {
          padding-left: 0.625rem;
        }
      }

      tbody > tr {
        transition: 0.2s;
        td {
          font-size: $tableFontSize;
          padding: 0;
        }

        &:hover td {
          background: none;
        }
      }
    }

    .ant-table-body {
      @extend .styled-scrollbar;
    }

    .ant-table .ant-table-container::before,
    .ant-table .ant-table-container::after {
      width: 0;
    }
  }
}
