$borderRadius0: 2px;
$borderRadius1: 3px;
$fontSize0: 9px;
$fontSize1: 10px;
$fontSize2: 11px;
$fontSize3: 12px;

.importer-assignment {
  .importer-assignment__summary {
    width: 100%;
    min-height: 95px;
    padding: 12.5px 10px 10px 12.5px;
    background: white;
    border: 1px solid #eee;
    margin-bottom: 5px;

    .importer-assignment__summary__avatar {
      margin-top: 2px;
    }

    .importer-assignment__summary__details {
      text-align: left;
      display: flex;
      flex-direction: column;

      .importer-assignment__summary__details__title {
        font-size: $fontSize3;
        font-weight: bold;
      }

      .importer-assignment__summary__details__time {
        font-size: $fontSize1;
        color: rgba($color: #000000, $alpha: 0.4);
      }

      .importer-assignment__summary__details__products {
        font-size: $fontSize1;
        padding-top: 5px;
        margin: 0;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
