.staff-management {
  $primaryPadding: 25px;
  $boxShadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  $boxShadow2: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
  $primaryBorderColor: #eee;

  .styled-scrollbar {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 3px;
    }
  }

  height: 100vh;
  padding: $primaryPadding;
  padding-top: 0.4 * $primaryPadding;
  background: #fff6e6;

  .staff-management__body {
    padding-top: 20px;
    width: 100%;
    height: 100%;

    .staff-management__body__staffs {
      width: 100%;
      height: 85vh;
      box-shadow: $boxShadow1;
      border-radius: 5px;
      background: white;
      position: relative;

      .staff-management__body__staffs__sidebar {
        height: 100%;
        width: 100%;
        background: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px solid $primaryBorderColor;

        .staff-management__body__staffs__sidebar__staff-details {
          padding-top: 2 * $primaryPadding;
          width: 100%;
          height: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .staff-management__body__staffs__sidebar__staff-details__avatar {
            margin: 10px 0;
          }

          .staff-management__body__staffs__sidebar__staff-details__basic-info {
            text-align: center;
            .staff-management__body__staffs__sidebar__staff-details__basic-info__role {
              font-size: 9px;
              color: rgba($color: #000000, $alpha: 0.3);
            }
          }
        }

        .staff-management__body__staffs__sidebar__staff-features {
          list-style: none;
          padding-left: $primaryPadding;
          .staff-management__body__staffs__sidebar__staff-features__feature {
            cursor: pointer;
            color: #ff8220;
            padding-bottom: 20px;

            &:hover {
              .staff-management__body__staffs__sidebar__staff-features__feature__info
                .staff-management__body__staffs__sidebar__staff-features__feature__info__name {
                color: #ff8220;
              }
            }

            .staff-management__body__staffs__sidebar__staff-features__feature__info {
              display: flex;
              flex-direction: column;
              padding-left: 10px;

              .staff-management__body__staffs__sidebar__staff-features__feature__info__name {
                font-size: 11px;
                color: rgba($color: #000000, $alpha: 0.5);
                transition: 0.2s;
              }

              .staff-management__body__staffs__sidebar__staff-features__feature__info__description {
                font-size: 9px;
                color: silver;
              }
            }
          }
        }
      }

      .staff-management__body__staffs__content {
        box-sizing: border-box;
        height: 100%;
        .staff-management__body__staffs__content__toolbar {
          width: 100%;
          height: 60px;
          padding: 10px 20px;
          display: flex;
          align-items: center;

          .staff-management__body__staffs__content__toolbar__title {
            margin: 0;

            .staff-management__body__staffs__content__toolbar__title__icon {
              color: #ff8220;
              margin-right: 7px;
            }

            .staff-management__body__staffs__content__toolbar__title__text {
              color: rgba($color: #000000, $alpha: 0.5);
              .staff-management__body__staffs__content__toolbar__title__text__staff-total {
                margin-left: 5px;
                color: #ff8220;
                font-weight: bold;
                color: 14px;
              }
            }
          }

          .ant-input-affix-wrapper {
            border-radius: 24px;
          }
        }

        .staff-management__body__staffs__content__list-staffs {
          .staff-management__body__staffs__content__list-staffs__header {
            padding: $primaryPadding;
            // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
            background: #ff8220;
            position: relative;
            height: 200px;

            .staff-management__body__staffs__content__list-staffs__header__dark-bg {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba($color: #000000, $alpha: 0.2);
              display: none;
            }

            $headerTextColor: white;

            .staff-management__body__staffs__content__list-staffs__header__role-selection {
              .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                border: 0;
                border-bottom: 1px solid white;
                background: transparent;
                color: $headerTextColor;
                height: 40px;
                font-size: 16px;
                padding: 5px 0;
                border-radius: 0;
              }

              .ant-select-arrow {
                color: $headerTextColor;
                right: 5px;
              }
            }

            .staff-management__body__staffs__content__list-staffs__header__buttons {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 50px;
              button {
                color: $headerTextColor;
                font-size: 16px;
                background: #ffb853;
                box-shadow: $boxShadow1;
              }
            }
          }

          .staff-management__body__staffs__content__list-staffs__wrapper {
            height: 460px;
            width: 97%;
            box-shadow: $boxShadow1;
            background: white;
            display: table;
            margin: 0 auto;
            border-radius: 5px;
            margin-top: -105px;

            $tableFontSize: 10px;

            .staff-management__body__staffs__content__list-staffs__selected-row {
              background: #fff6e6;
              color: #ff8220;
            }

            .ant-table thead > tr > th {
              font-size: $tableFontSize;
            }

            .ant-table tbody > tr {
              transition: 0.2s;
              &:hover {
                color: #ff8220;
              }

              td {
                font-size: $tableFontSize;
                cursor: pointer;
                transition: 0.2s;
              }
            }

            .ant-table tbody > tr:hover > td {
              background: none;
            }

            .ant-table-wrapper {
              border-radius: 5px;
              overflow: hidden;
            }

            .ant-table-pagination.ant-pagination {
              padding: 0 10px;
              display: none;
            }
          }
        }
      }
    }
  }
}
