.product-quantity-statistic {
  padding: 1.5625rem;
  padding-right: 0.625rem;

  .product-quantity-statistic__item {
    height: 8.125rem;
    display: flex;
    border-radius: 0.3125rem;
    align-items: center;
    position: relative;

    .product-quantity-statistic__item__btn {
      position: absolute;
      top: 0.3125rem;
      right: 0.3125rem;
      border: 0;
      box-shadow: none;
      background: none;
      font-size: 1rem;
    }

    &.--sold {
      background: #fff6e6;
      color: #ff8220;
      display: flex;
      // border-bottom: 0.3125rem solid #ff8220;

      .product-quantity-statistic__item__btn {
        color: #ff8220;
      }

      .product-quantity-statistic__item__metric {
        width: 50%;
      }

      .product-quantity-statistic__item__chart {
        width: 50%;
      }
    }

    &.--new {
      background: #edf8ec;
      color: green;
      // border-bottom: 0.3125rem solid green;

      .product-quantity-statistic__item__btn {
        color: green;
      }

      .product-quantity-statistic__item__metric {
        padding: 0 2.5rem;
      }
    }

    &.--available {
      background: #f5f5f5;
      color: rgba($color: #000000, $alpha: 0.5);
      // border-bottom: 0.3125rem solid gray;

      .product-quantity-statistic__item__metric {
        padding: 0 2.5rem;
      }
    }

    .product-quantity-statistic__item__metric {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 1.875rem;
      padding-top: 1.5625rem !important;
      height: 100%;

      .product-quantity-statistic__item__metric__quantity {
        font-size: 1.375rem;
        font-weight: bold;
      }

      .product-quantity-statistic__item__metric__label {
        font-size: 0.6875rem;
        font-weight: bold;
        padding-top: 0.125rem;
      }
    }

    .product-quantity-statistic__item__chart {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      canvas {
        padding-right: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .product-quantity-statistic {
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
  }
}
