.staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog {
  .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__btn-open {
    color: white;
    font-size: 1.25rem;
    border: 0;
    background: orange;
    box-shadow: 0 0.0625rem 0.1875rem rgba($color: #000000, $alpha: 0.3);
    margin-top: 0.9375rem;
    margin-right: 0.3125rem;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      opacity: 0.8;
    }
  }
}

.staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__form {
  $fontSize1: 0.75rem;

  .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__form__img-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.8125rem;
    padding-bottom: 1.875rem;
  }

  .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__form__title {
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;

    .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__form__title__icon {
      display: block;
      width: 1.5625rem;
      height: 1.5625rem;
      font-size: 0.8125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #ff8220;
      color: white;
      border-radius: 50%;
      margin-right: 0.625rem;
    }
  }

  .ant-divider,
  .ant-divider-vertical {
    height: 100%;
  }

  .ant-form-item {
    margin-bottom: 0.9375rem;
    label {
      font-size: $fontSize1;
      color: rgba($color: #000000, $alpha: 0.7);
    }
  }

  .ant-input {
    font-size: $fontSize1;
  }

  .ant-form-item-has-error .ant-form-item-explain,
  .ant-form-item-has-error .ant-form-item-split {
    font-size: 0.625rem;
    min-height: 0;
    height: 0.3125rem;
  }

  .ant-picker-input {
    input {
      font-size: $fontSize1;
    }
  }

  .ant-select,
  .ant-picker {
    width: 100%;
    font-size: $fontSize1;
  }
}

.staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__content {
  .ant-modal-content {
    width: 64rem;
    left: -12.5rem;
  }
}

@media screen and (max-width: 768px) {
  .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog
    .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__btn-open {
    position: fixed;
    z-index: 999;
    right: 0.3125rem;
    bottom: 5%;
  }

  .staff-management
    .staff-management__body
    .staff-management__body__staffs
    .staff-management__body__staffs__content
    .staff-management__body__staffs__content__list-staffs
    .staff-management__body__staffs__content__list-staffs__header
    .staff-management__body__staffs__content__list-staffs__header__role-selection
    .staff-management__body__staffs__content__list-staffs__header__role-selection__staft-total-by-role {
    display: none;
  }

  .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__form
    .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__form__img-uploader {
    padding: 0.625rem;
  }

  .staff-management__body__staffs__content__list-staffs__header__dialogs__add-staff-dialog__content {
    .ant-modal-content {
      width: 100%;
      left: 0;
    }
  }
}
