.add-work-schedule-dialog {
  .add-work-schedule-dialog__btn-open {
    background: white;
    color: #ff8220;
    border: 0;
    border-radius: 1.5rem;
    width: 100%;
    font-weight: bold;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
    text-shadow: none;
    min-height: 2.1875rem;
    font-size: 0.75rem;
    margin-bottom: 0.4375rem;
  }
}

.add-work-schedule-dialog__calendar {
  .ant-radio-button-wrapper:first-child,
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    display: none !important;
  }

  .add-work-schedule-dialog__calendar__month {
    padding: 0.3125rem;
    font-size: 0.75rem;
    transition: 0.2s;

    &.add-work-schedule-dialog__calendar__month--selected {
      background: #ff8220;
      color: white;
      font-weight: bold;
      border-radius: 0.1875rem;
    }

    &:hover {
      background: #fff6e6;
    }
  }
}
